<p>Dear Chairman Wheeler,</p>

<p>
    The proposed merger between Comcast and Time Warner Cable is a disaster and
    must not be approved. No single firm &mdash; and especially one that ranks
    as the most-hated company in America &mdash; should be handed this much
    power over the future of media and the Internet.
</p>
<p>

    The combined company would be an Internet and cable TV juggernaut with
    unmatched power to crush competition and hike prices for consumers. In fact,
    Comcast has admitted that prices will only go up.
</p>
<p>
    Comcast is already the nation's largest Internet provider. With this
    takeover, Comcast would control the wires reaching into nearly 6 out of
    every 10 American homes. Comcast has been caught before abusing its
    gatekeeper power and violating Net Neutrality. Such problems will only
    worsen if this once-unthinkable deal moves forward.
</p>
<p>
    There’s no question this takeover would harm the public interest the FCC is
    supposed to protect. You have said yourself that America has too little
    broadband competition. I urge you to block the proposed merger of Comcast
    and Time Warner Cable.
</p>